.widthdrawrecodewrap {
    width: 7.5rem;
    margin: 0 auto;
    font-family: PingFang SC;
    font-weight: 500;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
    .header {
        width: 7.5rem;
        height: 1rem;
        background: white;
        text-align: center;
        position: fixed;
        z-index: 100;
        img {
            transform: rotate(180deg);
            width: 0.2rem;
            height: 0.35rem;
            display: block;
            position: absolute;
            left: .2rem;
            top: .35rem;
        }

        span {
            display: block;
            text-align: center;
            line-height: 1rem;
            font-size: 0.34rem;
            color: #333333;
        }
    }

    .top-all-wallet{
        margin: 1rem auto 0;
        width: 7.5rem;
        min-height: .83rem;
        padding: .3rem;
        background: url("./../../../../../assets/imgs/personal/share/topallwallet.png") no-repeat;
        background-size: 7.5rem 1.53rem;
        color: #fff;
        font-size: .24rem;
        .num{
            margin-top: .1rem;
            .t{
                font-size: .5rem;
            }
        }
    }
    .box-listareabox{
        padding-bottom: .5rem;
        .uls{
            width: 7.5rem;
            .lis{
                font-size: .24rem;
                color: #757575;
                margin-top: .3rem;
                .tit{
                    padding-left: .25rem;
                }
                ol{
                    background: #fff;
                    border-radius: .3rem;
                    padding: 0 .2rem;
                    li{
                        min-height: 1.28rem;
                        border-bottom: 1px solid #d7d7d7;
                        margin-top: .3rem;
                        position: relative;
                        span{
                            display: block;
                        }
                        h3{
                            padding-top: .25rem;
                        }
                        .tm{
                            margin-top: .2rem;
                        }
                        .apply{
                            min-width: .6rem;
                            color: #ffbd04;
                            position: absolute;
                            right: 2.8rem;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        .yet{
                            color: #1f1f1f;
                        }
                        .bo{
                            color: #ff5b4f;
                        }
                        .price{
                            font-size: .28rem;
                            position: absolute;
                            right: .2rem;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    li:last-child{
                        border: none;
                    }
                }
            }
        }

    }
}
.widthdrawrecodewrapapp{
    .header {
        img {
            top: .7rem;
        }
        span{
            top: .6rem;
        }
    }
    .top-all-wallet{
        margin: 1.4rem auto 0;
    }
}