.shareroleswrap{
    width: 7.5rem;
    margin: 0 auto;
    font-family: PingFang SC;
    font-weight: 500;
    padding-bottom: .64rem;
    background: #101118 url("./../../../../../assets/imgs/personal/yinyu-share/sharerolesbanner.png") no-repeat center 0;
    background-size: 100% 100%;
    .header{
        z-index: 18;
        height: 1rem;
    }

    .header .tit{
        padding: .42rem 0;
    }
    .topbanner{
      width : 7.5rem;
      img{
        width : 100%;
        height: 100%;
      }
    }
    .toptit{
        width:7.24rem;
        height: 3.58rem;
        padding-left: .26rem;
        position: relative;
        z-index: 10;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .roleswrap-con{
        width: 6.5rem;
        min-height: 7.83rem;
        margin: -.5rem auto 0;
        padding: .8rem 0 0;
        background: url("./../../../../../assets/imgs/personal/yinyu-share/bg-sharecon.png") no-repeat;
        background-size: 6.5rem 8.53rem;
        position: relative;
        z-index: 9;
        .sharebigtext{
            width: 2.89rem;
            height: 1.35rem;
            position: absolute;
            top: -.58rem;
            left: 1.53rem;
            img{
                width : 100%;
                height: 100%;
            }
        }
        .txt-sec{
            // padding-top: 1.2rem;
            span{
                width: .84rem;
                height: .5rem;
                display: inline-block;
                margin-left: -.2rem;
                img{
                    width : 100%;
                    height: 100%;
                }
            }
            span.num{
                margin-left: 0;
            }
            p{
                padding: .2rem .5rem;
                font-size: .3rem;
                line-height: .4rem;
                font-family: PingFang-SC-Medium;
                color: #fff;
                span{
                    color: #ffeb78;
                }
            }   
        }
        .tips{
            font-size: .28rem;
            color: #ffeb78;
            padding-left: .5rem;
        }
    }
    .btn-area{
        width: 3.23rem;
        height: .74rem;
        background: url("./../../../../../assets/imgs/personal/yinyu-share/sharerolebtn.png") no-repeat;
        background-size: 3.23rem .74rem;
        margin: .5rem auto 0;
    }
  }
